@import 'variables';

html,
body,
#app {
  font-family: var(--font-family);
  font-size: var(--font-size);
}

* {
  margin: 0;
  box-sizing: border-box;
}

a {
  color: var(--main-color);
  text-decoration: none;
}

body,
#app {
  height: 100vh;
}
